.root {
  padding: 1em;
  display: flex;
  align-items: center;
  background: var(--color-white-500);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;

  & label {
    margin-left: 1rem;
  }

  &[data-checked="true"] {
    border: 1px solid var(--color-yellow-500);
  }

  & input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 1em;
    height: 1em;
    margin: 0;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    transition: 0.2s all linear;

    &:checked {
      background: var(--color-yellow-500);
    }
  }
}
